<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Gaming Setup</title>
        <link rel="stylesheet" href="{% static 'part_list/css/style.css' %}"/>
    </head>
    <body>
        <div style = "max-width:470px;">
            <form method="post" action="">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btnbtn-primary" value="submit">
            </form>
            {% for part in parts%}
                <div>
                    <a href = " {{part.link }}"> {{part.item}}</a>
                    <p> {{ part.price }}</p>
                    <img src="{{ part.img_link }}">
                </div>
            </article>
            {% endfor %}
        </div>
    </body>
</html>

