* {
	--main-font: sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
}

button {
	font-family: var(--main-font);
}

button:focus {
	outline: none;
}

body {
	position: relative;
	background: linear-gradient(to bottom right, rgb(127, 242, 250), #fff);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.form {
	margin: 2rem auto;
	display: block;
	width: 24rem;
	height: 13rem;
	padding-top: 1rem;
	background: rgb(127, 242, 250);
	border-radius: 2rem;
	border: 0.125rem solid rgb(227, 252, 254);
}

.formInput {
	display: block;
	margin: 1rem auto;
	width: 14rem;
	height: 1.5rem;
	border-radius: 10px;
	border: none;
	padding: 0.625rem;
}

.formInput:hover {
	outline: none;
	border: 1px solid grey;
}
.formInput:focus {
	outline: none;
	border: none;
}

#addItem {
	position: relative;
	width: 4rem;
	height: 2rem;
	border-radius: 12px;
	border: none;
	background: #abf7fc;
	display: block;
	margin: 0 auto;
	top: 2%;
}

.value {
	font-weight: bold;
}

.item {
	display: block;
	position: relative;
	margin: 0 auto 1rem;
	width: 23rem;
	height: 7rem;
	border-radius: 0.5rem;
	background-color: #66ccff;
}

.pic {
	display: block;
	position: relative;
	width: 23rem;
	height: 28.875rem;
	margin: 0 auto 1rem;
}

.img {
	display: block;
	position: relative;
	width: 22.5rem;
	height: 21rem;
	margin: 0 auto 0.5rem;
}

.saveBtn {
	width: 2rem;
	height: 2rem;
	background: none;
	font-size: 1rem;
	font-family: var(--main-font);
	border: none;
	border-radius: 12px;
	position: relative;
	left: 87%;
	transform: translateY(-45%);
	transition: background 0.2s ease;
}

.saveBtn:hover {
	background: rgba(255, 255, 255, 0.7);
}

.top {
	position: relative;
	top: 10%;
	left: 5%;
	font-family: var(--main-font);
}

.middle {
	position: relative;
	top: 30%;
	transform: translateY(-30%);
	left: 5%;
	font-family: var(--main-font);
}

.bottom {
	position: relative;
	top: 42%;
	left: 5%;
	font-family: var(--main-font);
}
